# Title of the WebPortal
title= Spatiotemporal Simulation Analysis
#title = :) 
# Add a custom css file to style the WebPortal 
css_file=the-company.css

# Add a custom favicon in PNG format
#favicon_png=favicon.png

# Add a custom favicon in SVG format
#favicon_svg=favicon.svg

# Add an image for the logo on the login page
#login_logo_file=b5QCVO.png

# Add a background image for the hero section of the login page
login_background_image=qRuQaT.png

# Add an image for the logo in the header bar
logo_file=b52hWQ.png

# Add an image for the header bar
#header_image=the-company-header.svg
